<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257e5">

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <title>Proffy | Sua plataforma de estudos online</title>
    
    
    <link rel="stylesheet" href="./styles/global.css"/>
    <link rel="stylesheet" href="./styles/partials/landing-page.css"/>
  </head>
<body id="page-landing">

  <div id="container">
    <div class="logo-container">
      <img src="./images/logo.svg" alt="logo-proffy">
      <p>Sua plataforma de estudos online</p>
    </div>

    <img src="./images/landing.svg" alt="front-page-img" class="hero-img">

    <div class="buttons-container">
      <a id="study" href="/study"> 
        <img class="btnImg" src="./images/icons/study.svg" alt="study-button-svg"/> 
        Estudar
      </a>
      <a id="teach" href="/give-classes"> 
        <img class="btnImg" src="./images/icons/give-classes.svg" alt="teach-button-svg"/> 
        Dar Aulas
      </a>
    </div>

    <p class="total-connections">
      Total de 200 conexões realizadas
      <img src="./images/icons/purple-heart.svg" 
      alt="connection-heart">
    </p>

  </div>
  </body>
</html>